* {
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #668fff;
  --medium-blue: #463bfa;
  --dark-blue: #1e22ff;
  --background-grey: #f2f5fa;
  --main-font: "Montserrat", sans-serif;
}

.container {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 8fr;
  background-color: var(--background-grey);
}

.container div {
  padding: 15px;
}

.header {
  font-family: var(--main-font);
  background-color: var(--light-blue);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.menu {
  align-self: center;
}

.menu ul {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

a {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

.search-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  width: 2em;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
}

.profile-picture img {
  width: 2.5em;
}

ul {
  list-style: none;
}

.logo {
  grid-row: 1 / 2;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.block img {
  width: 12em;
}

.sidebar {
  font-weight: 500;
  grid-row: 2 / 3;
  font-family: var(--main-font);
  background-color: var(--medium-blue);
}

.sidebar-content li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: white;
  font-weight: bolder;
  font-size: 2vh;
}

.sidebar-content li img {
  width: 20px;
  padding-right: 5px;
}

.article {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--background-grey);
  font-family: var(--main-font);
  height: fit-content;
}

.main-content {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main-content > div {
  border: solid var(--light-blue);
  background-color: whitesmoke;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.main-content img {
  width: 80%;
  height: auto;
}

.title {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.small-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.small-content .feed {
  border: solid var(--light-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.25vh;
  border-left-width: 15px;
}
